<configuration xmlns="http://logging.apache.org/log4php/">

  <appender name="MyAMQPAppender" class="LoggerAppenderAMQP">
    <param name="host" value="10.26.82.142" />
    <param name="port" value="5672" />
    <param name="login" value="guest" />
    <param name="password" value="guest" />
    <param name="exchangeName" value="php" />
    <param name="vhost" value="/" />
    <param name="queueName" value="php" />
    <param name="routingKey" value="some_routing_key" />
    <param name="skipConnectionError" value="0" />
    <layout class="LoggerLayoutGelf" />
  </appender>

  <root>
    <appender_ref ref="MyAMQPAppender" />
  </root>
</configuration>
